# Docker Compose environment variables
FRONTEND_IMAGE={{ docker_registry }}/{{ project_namespace }}/{{ image_name }}:frontend_{{ build_number }}
BACKEND_IMAGE={{ docker_registry }}/{{ project_namespace }}/{{ image_name }}:backend_{{ build_number }}
